:root{
    --pri : #F8F4E1;
    --sec : #381c0a;
    --ter1 : #FEBA17;
    --ter2 : #74512D;
    --red : red;
    --green : green;
}

@font-face {
    font-family: Aeonik_Regular;
    src: url(/assets/fonts/fonnts.com-Aeonik_Regular.ttf);
}

@font-face {
    font-family: Aeonik_Light;
    src: url(/assets/fonts/fonnts.com-Aeonik_Light.ttf);
}

@font-face {
    font-family: Aeonik_Bold;
    src: url(/assets/fonts/fonnts.com-Aeonik_Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--pri);
    font-family: Aeonik_Regular;
}

html,body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--ter2);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
}

.elem{
    background-color: var(--ter1);
    height: 400px;
    width: 330px;
    border-radius: 10px;
    font-size: 30px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    font-size: 40px;
    font-weight: 500;
    bottom: 4%;
    right: 5%;
}

.elem:active{
    scale: 0.95;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    display: block;
    position: absolute;
}

.back{
    width: fit-content;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 5%;
    top: 45px;
    cursor: pointer;
}

.back:active{
    scale: 0.95;
}

.fullElem.todo-list-fullpage h1{
    font-size: 50px;
    font-family: Aeonik_Bold;
}

.fullElem.todo-list-fullpage{
    padding: 35px;
}

.fullElem.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fullElem.todo-list-fullpage .todo-container .left{
    height: 100%;
    width: 33%;
    background-color: var(--ter2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: Aeonik_Light;
}
.fullElem.todo-list-fullpage .todo-container .left form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
}
.fullElem.todo-list-fullpage .todo-container .left form input[type="text"],
.fullElem.todo-list-fullpage .todo-container .left form textarea,
.fullElem.todo-list-fullpage .todo-container .left form #add-task{
    width: 100%;
}

.fullElem.todo-list-fullpage .todo-container .left form input{
    font-size: 30px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: black;
    background-color: var(--pri);
}

.fullElem.todo-list-fullpage .todo-container .left form textarea{
    font-size: 30px;
    padding: 20px;
    height: 330px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: black;
    background-color: var(--pri);
}

.fullElem.todo-list-fullpage .todo-container .left form #add-task{
    font-size: 25px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: var(--ter1);
    font-weight: 700;
    transition: all ease 0.2s;
    font-family: Aeonik_Bold;
}

.fullElem.todo-list-fullpage .todo-container .left #add-task:active{
    scale: 0.95;
}

.fullElem.todo-list-fullpage .todo-container .right{
    height: 100%;
    width: 65%;
    background-color: var(--ter2);
    border-radius: 20px;
    padding: 30px;
    overflow: auto;
}

.fullElem.todo-list-fullpage .todo-container .right .tasks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pri);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.fullElem.todo-list-fullpage .todo-container .right .tasks h5{
    font-size: 30px;
    color: black;
    margin-right: 7px;
    display: flex;
    gap: 10px;
}

.fullElem.todo-list-fullpage .todo-container .right .tasks h5 span{
    color: var(--pri);
    background-color: var(--red);
    height: fit-content;
    border-radius: 100px;
    padding: 4px 10px;
    font-size: 12px;
    font-family: Aeonik_Bold;
}

.fullElem.todo-list-fullpage .todo-container .right .tasks h5 span.true{
    opacity: 1;
}

.fullElem.todo-list-fullpage .todo-container .right .tasks h5 span.false{
    opacity: 0;
}
.fullElem.todo-list-fullpage .todo-container .right .tasks button{
    color: white;
    background-color: var(--green);
    border: none;
    outline: none;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    font-family: Aeonik_Light;
    transition: all ease 0.2s;
}

.fullElem.todo-list-fullpage .todo-container .right .tasks button:active{
    scale: 0.93;
}

.fullElem.todo-list-fullpage .todo-container .left form #checkbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    gap: 40px;
}

.fullElem.todo-list-fullpage .todo-container .left form #checkbox #check-box{
    scale: 1.5;
}

.fullElem.todo-list-fullpage .todo-container .left form #checkbox label{
    scale: 1.3;
    font-family: Aeonik_Regular;
}